# .NET build outputs
**/bin/
**/obj/
**/TestResults/
**/node_modules/

# IDE and user-specific files
.vs/
**/.vscode/*
!**/.vscode/launch.json
!**/.vscode/tasks.json
*.suo
*.user
*.userosscache
*.sln.docstates

# macOS
.DS_Store
